.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.greetings {
  background-color: #445162;
  padding: 50px 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
 
}

.greetings__row{
  display: flex;
  justify-content: space-between;
}
.greetings__body {
  margin-right: 38px;
}

.greetings__title {
  font-size: 60px;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  margin-bottom: 38px;
}

.greetings__list {
  font-size: 20px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.greetings__list li {
  background: url(../image/check_icon_346.png) 0 1px no-repeat;
  padding: 0px 0px 0px 36px;
  margin: 0px 0px 17px 0px;
}

.greetings__list li:last-child {
  margin: 0;
}

.what {
  padding: 50px 0;
}

.what__row {
  display: flex;
}
.what__image {
  flex: 0 0 430px;
}
.what__image img{
  max-width: 100%;
} 
.what__body {
  flex: 1 1 auto
}
.what__title {
  margin-bottom: 33px;
}
.title {
font-size: 30px;
line-height: 36px;
color: #445161;
}
.what__text p {
  margin-bottom: 25px;
  font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #333333;
}

.columns {
  background-color:#f5f5f5;
  padding: 20px 0;
}
.container {
  
}
.columns__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}


.columns__row {
display: flex;
flex: 0 1 50%;
flex-wrap: wrap;
margin:0px  -8px;
}
.columns__column {
  padding: 0px 8px;
  flex: 0 1 50%;
  margin: 0px 0px 30px 0px;
}
.columns__item {
}
.item {
}
.item__row {
  display: flex;
}
.item__image {
  flex: 0 0 200px;
}
.item__body {
  width: 350px;
  flex: 1 1 auto;
  padding-left: 15px;
}
.item__title {
  font-size: 24px;
line-height: 30px;
font-weight: 400;
color: #445161;
margin-bottom: 13px;
}
.item__text {
  display: block;
  font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #333333;
}



.vertical {
  padding: 50px 0;
}
.container {
}
.vertical__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.title {
}
.vertical__body {
  max-width: 990px;
  margin: 0 auto;
}
.vertical__row {
  display: flex;
  margin: 0px -22.5px;
}
.vertical__column {
  padding: 0px 22.5px;
  flex: 0 1 33.333%;
  display: flex;
}
.vertical__item {
  background-color:#445162;
  color:#ffffff;
  border-radius: 5px;
  border: 1px solid #445162;
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
}
.vertical__subtitle {
  text-align: center;
  font-size: 24px;
text-transform: uppercase;
padding: 12px 0;
}
.vertical__label {
  background-color:#ffffff;
  text-align: center;
  color:#445162;
  padding: 15px 0;
  font-size: 40px;
}
.vertical__text {
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  flex: 1 1 auto;
}
.vertical__text p{
  margin: 0px 0px 15px 0px;
}
.vertical__text p last-child{
  margin: 0;
}
.vertical__btn {
  display: block;
  margin: 0px 20px;
  height: 40px;
  background-color: #fff;
  line-height:40px ;
  text-align: center;
  border-radius: 5px;
  color:#445161;
  font-size: 18px;
}







.footer {
  background-color: #f5f5f5;

}

.footer__row {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #445162
}